/* body {
    background-color: rgb(149, 226, 226);
}
.mob {
    
    display: inline-block;
}
.mob > h4 {
    cursor: pointer;
}
.mob > h4:hover{
    color:blue;
}
.main-div {
    text-align: center;
}
#zoomit {
    text-align: center;
    padding: 20px 10%;
} */
